<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <%characters.forEach(character)=>{%>
            <p><%character.name%></p>
                <img src="<%character.img%>">
                <p><%character.level%></p>

        <%}%>
    </div>
    <button id="details">view details</button>
</body>
</html>